@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: Roboto, 'Boilover Typeface', 'Courier New', Courier, monospace;
}

.logo {
    border: 4px outset #f9faf87a;
    border-radius: 20%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

ul a,
.header-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    height: auto;
}

.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 50px 50px;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    width: fit-content;
    padding: 7px 30px;
    border-radius: 8px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
    padding-top: 50px
}

.left-side {
    height: fit-content;
    flex: 1;
}

.header-text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.header-image {
    flex: 1;
    width: 50%;
}


/* i don't know how to make the image match the size of the left-side.. internet suggests table*/

.second {
    padding: 30px 0 50px;
}

.second-title {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img-group img {
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 9%;
}

.img-group {
    width: 150px;
}

.third {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding: 100px;
    font-style: italic;
}

.third div {
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    font-style: normal;
}

.fourth {
    padding: 100px 10px;
}

.fourth-container {
    color: white;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-radius: 10px;
}

span {
    font-weight: bold;
}

.fourth .sign-up {
    border: 3px solid white;
}